button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 600;
}
.container__lesson1 .form-group{
    width: 30%;
}
label{
    color: orange;
    font-weight: 600;
}
.container__lesson1 {
    padding-top: 50px;
}
#total{
    background-color: #D6F0E2;
    color: #009F4D;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px 50px;
    height:70px;
}
#result2{
    background-color: #D6F0E2;
    color: #009F4D;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px 50px;
    height:130px;

}